body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.highlight {
  color: green;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-right: 40px;
}

.game-board, .game-history {
  margin: 0 auto;
}

.game-history {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.game-heading {
  font-size: 24px;
  margin: 80px auto;
}

.btn {
  background-color: #FF7133;
  border: 1px solid #FF7133;
  color: black;
  border-radius: 4px;
  margin: 4px;
}

.btn-highlight {
  background-color: greenyellow;
  border: 1px solid greenyellow;
  color: black;
  border-radius: 4px;
}